# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python environment
venv/
env/
*.egg-info/
dist/
build/

# Dataset files
*.csv
*.xlsx

# Model files
*.pkl
*.joblib

# Streamlit cache
.cache/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log
