# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env
venv/
env/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Dataset files
*.csv
*.xlsx

# Model files
*.pkl
*.joblib

# Streamlit cache
.cache/

# Logs
*.log
